@import 'colors';
@import 'extras';
@import 'fonts';

body {
    background: $bg-grey;
    padding-top: $menu-height;
    font-family: 'Caviar Dreams';
}

@each $color-key, $color-value in $colors {
    .bg-#{$color-key} {
        background: $color-value;
    }
    .color-#{$color-key} {
        color: $color-value;
    }
}

[class*="color-"] {
    a {
        color: inherit;
    }
}

.section {
    width: 100%;
    min-height: calc(100vh - #{$menu-height});

    &.section-full {
        height: 100vh;
    }

    &.no-gutters {
        [class^="col-"] {
            padding: 0;
            margin: 0;
        }
    }
}

#sectionTop {
    position: relative;
    margin-top: -$menu-height;

    .logo-top {
        height: 90vh;
        vertical-align: middle;
        position: absolute;
        right: 0;
        top: 5vh;

        .logo-top-image {
            max-width: 100%;
            max-height: 100%;
            width: auto;
            height: auto;
            display: block;
            position: absolute;
            right: 0;
        }
    }
}

#sectionServices {
    .service-block {
        width: 32.7vw;
        height: 32.7vw;
        display: inline-block;
        margin: 0;
        position: relative;

        .service-bg,
        .service-image {
            width: 100%;
            overflow: hidden;
            height: 100%;
        }

        .service-text {
            position: absolute;
            top: 30%;
            width: 100%;
        }
    }
}
